*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('../img/backdash.png');
    background-size:cover;
    
}

.flex{
    display: flex;
}

.invisible{
    display: none;
}

 .dash{
    
    margin: 35px auto;
    display: flex;
    height: 90vh;
    width: 85vw;
    border-radius: 25px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
  
    overflow: hidden;
    
} 



/*------------------------------VERTICALNAVBAR--------------------------------*/

nav{
    
    width: 20vw;
    /* From https://css.glass */
    background: rgba(125, 125, 125, 0.414);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(226, 226, 226, 0.19);
    color: #e5ffff;
    text-decoration: none;
    text-decoration-color: #e5ffff;
    border-radius: 25px 0 0 25px;
    overflow: hidden;
    
    
}




nav img{
    margin:45px auto 30px auto;
    width: 100px;
    display: block;
    align-items: center;
}


nav ul{
    /* margin-top: 80px;
    margin-left: 55px; */
    margin: 160px 0;
    display: flex;
    font-size: 1vw;
    list-style: none;
    flex-direction: column;
    
    


}

nav li{
    
    padding: 12px;
    
    margin-left: 25px;
    box-sizing: border-box;
    
}
nav .logout{
    margin-top: 20px;
    text-align: center;
    margin-left: 0;
    
}

nav a:is(:link, :active, :visited){
    text-decoration: none;
    color: #FFFDFA;
    padding: 10px 10px;
    
}


nav a:is(:link, :active, :visited).active{
    background: rgba(226, 226, 226, 0.35);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2),
              inset -2px -2px 5px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    padding: 10px 10px;
    border-radius: 3px;
    text-decoration: none;
    
    color: #000000;
    
}



/* ------------------LOGOUT BUTTON----------------- */




/* ----------------SEARCHBAR AND LINKS--------------------- */

.secondhalf{
    width: 80vw;
    
}

.main{
    
    border-radius: 3px;
    
        /* From https://css.glass */
    background: rgba(93, 93, 93, 0.35);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(226, 226, 226, 0.19);
    overflow: hidden;
    height: 90%;
    
    
}

.category__body{
    width: 95%;
    
    max-height: calc(99% - 1.6rem);
    background-color: rgba(255, 255, 255, 0.164);

    margin: .8rem auto;
    border-radius: 3px;

    overflow: auto;
    overflow: overlay;
}

.category__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.category__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.category__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

/* SEARCH BAR */

#search{

}

.search-bar{
    width: 53vw;
    max-width: 53vw;
    
    background: rgba( 255, 255, 255, 0.15 );
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    margin: 0 0 0 15px;
    
}

.search-bar #input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px;
    font-size: 20px;
    color: #FFFDFA;
}

::placeholder{
    color: #fffdfab7;
}

.searchbutton{
    color: #FFFDFA;
    font-size: 20px;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgb(104, 104, 104, 0.2);
    cursor: pointer;
}




#searchnav{
    /* background-color:rgba(84, 84, 84, 0.9);
     */
     /* From https://css.glass */
    background: rgba(79, 79, 79, 0.35);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(226, 226, 226, 0.19);
    padding: 10px 10px;
    border-radius:0 20px  0 0;
    justify-content: space-between;
    height: 10%;
    
}
#searchnav2{
    /* background-color:rgba(84, 84, 84, 0.9);
     */
     /* From https://css.glass */
     background: rgba(39, 92, 39, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(226, 226, 226, 0.19);
    margin: 10px 20px 0 20px;
    padding: 20px 40px;
    border-radius: 3px;
    justify-content: space-between;
    width: 80vw;
    
}


#searchnav .links{
    
    display: flex;
   
    
    
}


.links a{
    color: #FFFDFA;
    font-size: 20px;
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: rgba( 255, 255, 255, 0.15 );
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 0;
    margin: 5px 25px 0 0;
}





/* -------------------- PRODUCTS POPUP PRINT BUTTONS-------------------------- */


.popup{
    background: rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 45vh;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%) scale(0.1) ;
    width: 700px;
   visibility: hidden;
   transition: transform 0.3s, top 0.3s;
   z-index: 5;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1) ;
    z-index: 5;

}

.popup h2{
    color: #e5ffff;
    margin-top: 6vh;
    text-align: center;
   justify-content: center;
}
.popup .closepopup{
    text-align: end;
    justify-content: end;
    margin: 20px 25px;
    
    
}
.popup .closepopup button{
    font-size: 50px;
    padding: 2px 5px;
    background: transparent;
    border: none;
    color: #e5ffff;
    cursor: pointer;

}

.popup .defrost{
    background-color: #004c6d;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(58, 172, 75, 0.19);
    margin: 30px 20px 0 20px;
    padding: 20px;
    font-size: 20px;
    color: #e5ffff;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba( 0, 0, 0, 0.2 );
    text-decoration: none;

}
.popup .expiration{
    background-color:#006d07;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(58, 172, 75, 0.19);
    margin: 30px 20px 0 20px;
    padding: 20px;
    font-size: 20px;
    color: #e5ffff;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 5px 5px  rgba( 0, 0, 0, 0.2 );
    text-decoration: none;

}
.popup .center{
    text-align: center;
   justify-content: center;
   margin-top: 45px;
   
}

 



/* ----------------------------REGISTERFORM e LOGIN---------------------------------- */


.registerbox{
    background: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 55vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
   border-radius: 3px;
}

.bodylogin{
    background-image: url('../img/loginbackg.png'); 
    background-size: cover;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

.loginbox{
    /* background-color: rgb(0, 0, 0, 0.8); */
    /* From https://css.glass */
/* From https://css.glass */
    
    color: black;
    border-radius: 16px;
    
    height: 43vh;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 3px;
   
}
.registerbox h1, 
.loginbox h1,
.addproductbox h1{
    text-align: center;
    padding: 40px 40px 10px 40px;
    text-shadow: 1px 2px 4px rgba(62,62,62,0.60);
    color: black;
    font-size: 45px;
}

.hrhr{
    border: none;
    text-shadow: 1px 2px 4px rgba(62,62,62,0.60);
    margin: auto;
    width: 40px;
    height: 3px;
    background: #009E60;
    transition: 0.2s;
}


.registerbox form, 
.loginbox form,
.addproductbox form{
    padding: 25px 40px;
    box-sizing: border-box;
}

form .txtfield{
    position: relative;
    border-bottom: 2px solid #686868;
    margin: 50px 0;
}

.txtfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #686868;
    
}

.txtfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #009E60;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.2s;
}

.txtfield span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #009E60;
    transition: 0.2s;
}

.txtfield input:focus ~ label,
.txtfield input:valid ~ label{
    top: -5px;
    color: 	#009E60;
}
.txtfield input:focus ~ span::before,
.txtfield input:valid ~ span::before{
    width: 100%;
}

#submitbutton{
    width: 100%;
    height: 50px;
    border: 1px solid #f6f6f6;
    background: #009E60;
    color: #FFFDFA;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
}

#submitbutton:hover{
    border: 2px solid #00ff99;
    transition: 0.2s;
    color: #00ff99;
    border-radius: 20px;
}

/* ---------------------------ADD PRODUCT FORM------------- */


.selectfield label{
    color: #97acc1;
}

.selectfield select{
    background: rgba( 0, 0, 0, 0.15 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 2px;
    border: 1px solid rgba(137, 175, 143, 0.18);
    width: 200px;
    font-size: 25px;
    color: #97acc1;
    
}

form #dlc{
    margin: 20px 0;
}

form .imageupload{
    margin: 20px 0;
}

.imageupload label{
    color: #97acc1;
}

.imageupload input{
    margin: 20px 0;
    font-size: 20px;
    background: rgba( 0, 0, 0, 0.15 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 2px;
    border: 1px solid rgba(137, 175, 143, 0.18);
    color: #828283b7;
    padding: 5px;

}

.choosefile::-webkit-file-upload-button{
    background: rgba( 0, 0, 0, 0.15 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 2px;
    border: 1px solid rgba(137, 175, 143, 0.18);
    color: #97acc1;
    font-size: 25px;
}

.addproductbox{
    background: rgba(0, 0, 0, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.5px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
   border-radius: 3px;
}


/* ---------------alert----(login n register)---------------- */

.alert{
    color: #850400;
    text-align: center;
    margin-left: 4px;
    margin-top: 10px;
}

/* -----------------------user menu---------------------- */

.usercontainer{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 3px;
    
    height: 55vh;
    width: 80vw;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
    font-size: 22px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    
}

.mainuser{
    margin: 10px 20px 0 20px;
    border-radius: 5px;
    
        /* From https://css.glass */
        background: rgba(39, 92, 39, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(226, 226, 226, 0.10);
    overflow: hidden;
    height: 45vh;
    width: 80vw;
    
}
.mainuser2{
    margin: 10px 20px 0 20px;
    border-radius: 5px;
    
        /* From https://css.glass */
    background: rgba(39, 92, 39, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10.5px);
    border: 1px solid rgba(226, 226, 226, 0.10);
    overflow: hidden;
    height: 40vh;
    width: 40vw;
}


.usercontainer li,
.mainuser li{
    list-style: none;
}

.usercontainer h1,
.usercontainer2 h1{
    text-align: center;
}

#userbox h1{
    font-size: 100px;
}

.leftuser hr{
    width: 230px;
    justify-content: center;
    margin: auto;
    background-color: #004c6d;
    
}
.rightuser hr{
    width: 450px;
    justify-content: center;
    margin: auto;
    background-color: #004c6d;
}
.leftuser{
    text-align: right;
    font-weight: bold;
}

.rightuser{
    text-align: left;
}

#userbox {
    justify-content: center;
    font-size: 30px;
    background: rgba(39, 92, 39, 0.1);
    width: 75vw;
    margin: 50px auto 0 auto;
    padding: 60px;
    border-radius: 5px;
    
    
}
#userbox h1{
    margin-right: 120px;
    font-size: 40px;
    text-align: left;
    
    
}

#userbuttons{
    justify-content: center;
    margin-top: 50px;
}
#userbuttons a{
    margin: 20px 70px;
}

.userregister{
    background: rgba( 0, 41, 255, 0.35 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 2px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: black;
}
    
.addproduct{
    background: rgba(89, 89, 89, 0.609);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 3px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-decoration-color: #e5ffff;
    color: rgba(255, 255, 255, 0.841);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}


/* return button  user page || create new user page  */

.return a{
    font-size: 80px;
    padding: 15px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-decoration-color: #e5ffff;
    color: rgba(255, 255, 255, 0.841);
}
.return a:hover{
    font-size: 80px;
    padding: 15px;
    background: rgba(1, 71, 3, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(5, 205, 25, 0.18);
    text-decoration-color: #e5ffff;
    color: rgba(1, 36, 9, 0.841);
}

.return{
    margin: 50px;
}

/* -------------------PRODUCTS LIST TABLE------------------ */

.listcontainer{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 3px;
    
    height: 70vh;
    width: 82vw;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    
    font-size: 22px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}

.listcontainer h1{
    margin: 20px 0 0 20px;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: rgba(255, 255, 255, 0.164);

    margin: .8rem auto;
    border-radius: 3px;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

.table{
    width: 100%;
}

.table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.table thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #C0C0C0;
    cursor: pointer;
}

.table tbody tr:nth-child(even) {
    background-color: #00000011;
}
 
@media (max-width: 1000px){

}











